{
    "version": "0.0.1",
    "Controller": {
        // 最大内存用量（MB）
        "max_memory": 100,
        // 最大CPU单核利用率(百分数)
        "max_cpu": 10,
        // 检查CPU利用率与内存的周期（秒）
        "check_cpu_mem_duration": 3
    },
    "Repository": {
        // 输出文件目录
        "output_dir": "/root/Agith/build",
        // 文件保留时间（小时），0表示不删除旧文件
        "file_save_time": 72,
        // 需要关注的系统调用，用于筛除不重要的节点来简化图
        "concern_syscalls": [
            "write",
            "clone",
            "unlinkat",
            "unlink",
            "connect",
            "sendto",
            "recvfrom",
            "mkdir",
            "execve",
            "finit_module",
            "delete_module"
        ],
        // 每轮清理中写入文件的trace最大数目
        "max_output_trace": 500,
    },
    "Monitor": {
        "risk_syscalls": [
            "write",
            "unlinkat",
            "unlink",
            "sendto"
        ],
        "maintainer": [
            {
                "name": "Agith",
                "email": "example@openEuler.com"
            }
        ],
    },
    "BPFLoader": {
        "path": "BPF"
    },
    "Manual": {
        "path": "./config/syscall_64.tbl"
    },
    "Log": {
        "path": "./agith.log"
    },
}